In [1]:
import pandas as pd
import numpy as np

## Changing pandas options with Attributes and Dot syntax

In [2]:
data = np.random.randint(0, 100, [1000, 50]) # 1000 rows and 50 columns for number within 0 to 100
df = pd.DataFrame(data)
df.tail(2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
998,58,44,49,50,64,10,29,92,77,27,...,85,18,55,94,49,10,41,36,10,66
999,95,73,53,22,97,8,55,28,6,64,...,17,63,84,89,7,15,19,11,14,32

In [3]:
pd.options.display.max_rows

60

In [4]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,43,89,91,48,42,97,72,68,27,73,...,14,4,5,27,23,71,81,78,65,47
1,98,2,21,58,51,72,28,70,82,68,...,11,30,93,32,7,38,80,60,6,47
2,49,11,21,15,10,59,10,37,53,91,...,69,30,77,34,10,45,85,22,98,79
3,69,98,20,98,85,31,72,47,52,18,...,14,13,63,67,88,90,60,60,8,82
4,47,69,86,75,60,35,49,53,40,86,...,30,64,98,33,9,77,62,15,71,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2,81,0,69,86,61,22,12,2,77,...,42,20,88,63,30,89,44,20,89,30
996,95,84,41,16,40,69,65,17,70,16,...,38,14,55,58,48,60,9,70,74,19
997,75,95,71,27,84,61,87,15,21,13,...,6,91,99,94,94,91,37,8,68,14
998,58,44,49,50,64,10,29,92,77,27,...,85,18,55,94,49,10,41,36,10,66
999,95,73,53,22,97,8,55,28,6,64,...,17,63,84,89,7,15,19,11,14,32

In [5]:
pd.options.display.max_rows = 20

In [6]:
pd.options.display.max_rows

20

In [7]:
pd.options.display.max_columns

20

## Changing pandas options with methods

In [11]:
pd.get_option('max_rows')

20

In [10]:
pd.get_option('max_columns')

20

In [12]:
pd.set_option('max_rows', 16)

In [13]:
pd.options.display.max_rows

16

In [16]:
pd.reset_option('max_rows')

In [17]:
pd.get_option('max_rows')

60

In [18]:
pd.describe_option('max_columns')

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]

## The precision options

In [20]:
df = pd.DataFrame(np.random.randn(5, 5))
df

          0         1         2         3         4
0 -0.205013 -1.738373  1.507851 -0.730062  0.401420
1 -2.156570 -1.550229 -0.943140  1.281671 -0.895875
2 -2.282604  0.196025  1.318260  0.653187  0.818637
3 -0.570480  0.521340 -0.746913 -0.619872  1.616059
4 -0.266153 -0.522329  1.608853  0.769149  0.137498

In [21]:
pd.get_option('precision')

6

In [22]:
pd.set_option('precision', 2)

In [23]:
df

      0     1     2     3     4
0 -0.21 -1.74  1.51 -0.73  0.40
1 -2.16 -1.55 -0.94  1.28 -0.90
2 -2.28  0.20  1.32  0.65  0.82
3 -0.57  0.52 -0.75 -0.62  1.62
4 -0.27 -0.52  1.61  0.77  0.14

In [24]:
pd.reset_option('Precision')

In [25]:
pd.describe_option('Precision')

display.precision : int
    Floating point output precision in terms of number of places after the
    decimal, for regular formatting as well as scientific notation. Similar
    to ``precision`` in :meth:`numpy.set_printoptions`.
    [default: 6] [currently: 6]