In [1]:
import pandas as pd
import datetime as dt

## Review of Python's dattime Module

In [6]:
someday = dt.date(2010, 1,20)

In [74]:
type(someday)

datetime.date

In [8]:
someday.year
someday.month
someday.day

20

In [9]:
# Military time!
dt.datetime(2010,1,20, 17, 13, 57)

datetime.datetime(2010, 1, 20, 17, 13, 57)

In [10]:
str(dt.datetime(2010,1,20, 17, 13, 57) )

'2010-01-20 17:13:57'

In [11]:
str(someday)

'2010-01-20'

In [12]:
sometime = dt.datetime(2010,1,20, 17, 13, 57)

In [14]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

57

## Pandas Timestamp object
- pandas version of python's datetime

In [15]:
pd.Timestamp('2015-03-01')

Timestamp('2015-03-01 00:00:00')

In [16]:
pd.Timestamp('2015/03/31')

Timestamp('2015-03-31 00:00:00')

In [17]:
pd.Timestamp('2013,11,04')

Timestamp('2013-04-01 00:00:00')

In [18]:
pd.Timestamp("1/1/2015")

Timestamp('2015-01-01 00:00:00')

In [19]:
pd.Timestamp('2021-03-08 08:35:15')

Timestamp('2021-03-08 08:35:15')

In [20]:
pd.Timestamp('2021-03-08 6:35:15 PM') # WIll change to military time

Timestamp('2021-03-08 18:35:15')

In [22]:
pd.Timestamp(dt.date(2015,1,3))

Timestamp('2015-01-03 00:00:00')

## The pandas DateTimeIndex object

In [28]:
dates = ['2016-01-02', '2016-04-12', '2009-09-07']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [29]:
dates = ['2016/01/02', '2016/04/12', '2009/09/07']
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [33]:
dates = [dt.date(2016,1,10), dt.date(1994,6,13), dt.date(2003, 12,29)]
dtIndex = pd.DatetimeIndex(dates)

In [34]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

## The pd.to_datetime() method

In [37]:
pd.to_datetime('2001-04-19')
pd.to_datetime(dt.date(2015,1,1))
pd.to_datetime(['2015-01-03', '2014/02/08', '2016', 'July 4th, 1996'])

DatetimeIndex(['2015-01-03', '2014-02-08', '2016-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [39]:
times = pd.Series(['2015-01-03', '2014/02/08', '2016', 'July 4th, 1996'])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [40]:
# Convert Series string to datetime format!
pd.to_datetime(times)

0   2015-01-03
1   2014-02-08
2   2016-01-01
3   1996-07-04
dtype: datetime64[ns]

In [43]:
dates = pd.Series(['July 4th, 1996', '10/08/1991', 'Hello', '2015-02-31'])
dates

0    July 4th, 1996
1        10/08/1991
2             Hello
3        2015-02-31
dtype: object

In [45]:
# Will run into issues!
pd.to_datetime(dates, errors = 'coerce') 
# errors = raise, meaning the error message will show and raise to the users!

0   1996-07-04
1   1991-10-08
2          NaT
3          NaT
dtype: datetime64[ns]

In [47]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305,1350065705], unit = 's')

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

## Create range of dates with the pd.date_range() method

In [51]:
# D: day
times = pd.date_range(start  = '2016-01-01', end = '2016-01-10' , freq = 'D')

In [52]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [53]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [54]:
times[0]

Timestamp('2016-01-01 00:00:00', freq='D')

In [57]:
pd.date_range(start  = '2016-01-01', end = '2016-01-10' , freq = '2D')

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [58]:
# B: business days
pd.date_range(start  = '2016-01-01', end = '2016-01-10' , freq = 'B')

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [59]:
# W: one day per week
pd.date_range(start  = '2016-01-01', end = '2016-01-10' , freq = 'W')

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [60]:
pd.date_range(start  = '2016-01-01', end = '2016-01-10' , freq = 'W-FRI')

DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [62]:
# H: hour
pd.date_range(start  = '2016-01-01', end = '2016-01-10' , freq = '6H')

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [64]:
# M: Month end
pd.date_range(start  = '2016-01-01', end = '2016-12-10' , freq = 'M')

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30'],
              dtype='datetime64[ns]', freq='M')

In [66]:
# MS: Month start
pd.date_range(start  = '2016-01-01', end = '2016-12-10' , freq = 'MS')

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [67]:
# A: year end
pd.date_range(start  = '2016-01-01', end = '2020-12-10' , freq = 'A')

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [69]:
# Period: the number of output we want
pd.date_range(start = '2012-09-09', periods = 25, freq= 'D')

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [70]:
pd.date_range(end = '1999-12-31', periods = 20, freq= 'D')

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

## The .dt Accessor
 - Similar to str. accessor

In [72]:
bunch_of_dates = pd.date_range(start = '2000-01-01', end = '2010-12-31', freq = '24D')

In [75]:
type(bunch_of_dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [73]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [82]:
s.dt.day.head(3)
s.dt.month
s.dt.weekday
s.dt.is_quarter_start

0       True
1      False
2      False
3      False
4      False
       ...
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

In [83]:
mask = s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

## Import Financial Dataset with pandas_datareader library

In [3]:
from pandas_datareader import data

In [86]:
stocks = data.DataReader(name='MSFT', data_source='yahoo', start = '2010-01-01', end = '2020-12-31')
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.948723
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.956459
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.809437

In [89]:
stocks.values
stocks.columns
stocks.index
stocks.axes

[DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
                '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
                '2020-12-30', '2020-12-31'],
               dtype='datetime64[ns]', name='Date', length=2769, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

## Selecting Rows from a Dataframe with a DatetimeIndex

In [126]:
stocks = data.DataReader(name='MSFT', data_source='yahoo', start = '2010-01-01', end = '2020-12-31')
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.948717
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.956457
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.809437

In [90]:
stocks.loc['2010-01-04']

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.394872e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [92]:
stocks.loc[pd.Timestamp('2010-01-04')]

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.394872e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [93]:
stocks.iloc[0]

High         3.110000e+01
Low          3.059000e+01
Open         3.062000e+01
Close        3.095000e+01
Volume       3.840910e+07
Adj Close    2.394872e+01
Name: 2010-01-04 00:00:00, dtype: float64

In [94]:
stocks.loc[('2010-01-04','2010-01-05')]

KeyError: '2010-01-05'

In [96]:
stocks.loc[[pd.Timestamp('2010-01-04'),pd.Timestamp('2010-01-05')]]

            High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.1  30.590000  30.620001  30.950001  38409100.0  23.948723
2010-01-05  31.1  30.639999  30.850000  30.959999  49749600.0  23.956459

In [97]:
stocks.iloc[[10, 20, 30]]

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-19  31.24  30.680000  30.750000  31.100000  46575700.0  24.064783
2010-02-02  28.50  28.139999  28.370001  28.459999  54413700.0  22.021984
2010-02-17  28.65  28.360001  28.530001  28.590000  45882900.0  22.226025

In [133]:
stocks.loc['2013-10-01':'2013-10-07'] # Remember that loc both sides are inclusive
stocks.truncate(before = '2013-10-01', after = '2013-10-07') # both are the same

stocks.iloc[942:947] # The end point is exclusive

,High,Index,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2013-10-01,33.610001,942,33.299999,33.349998,33.580002,36718700.0,28.629841
2013-10-02,34.029999,943,33.290001,33.360001,33.919998,46946800.0,28.919720
2013-10-03,34.000000,944,33.419998,33.880001,33.860001,38703800.0,28.868568
2013-10-04,33.990002,945,33.619999,33.689999,33.880001,33008100.0,28.885616
2013-10-07,33.709999,946,33.200001,33.599998,33.299999,35069300.0,28.391115

In [99]:
stocks.truncate(before = '2013-10-01', after = '2013-10-07')

                 High        Low       Open      Close      Volume  Adj Close
Date
2013-10-01  33.610001  33.299999  33.349998  33.580002  36718700.0  28.629841
2013-10-02  34.029999  33.290001  33.360001  33.919998  46946800.0  28.919710
2013-10-03  34.000000  33.419998  33.880001  33.860001  38703800.0  28.868555
2013-10-04  33.990002  33.619999  33.689999  33.880001  33008100.0  28.885612
2013-10-07  33.709999  33.200001  33.599998  33.299999  35069300.0  28.391109

In [127]:
stocks.insert(1, "Index", range(len(stocks)), True)

In [129]:
stocks.head(3)

,High,Index,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,31.10,0,30.590000,30.620001,30.950001,38409100.0,23.948717
2010-01-05,31.10,1,30.639999,30.850000,30.959999,49749600.0,23.956457
2010-01-06,31.08,2,30.520000,30.879999,30.770000,58182400.0,23.809437

In [131]:
stocks.loc['2013-10-01':'2013-10-02']

,High,Index,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2013-10-01,33.610001,942,33.299999,33.349998,33.580002,36718700.0,28.629841
2013-10-02,34.029999,943,33.290001,33.360001,33.919998,46946800.0,28.919720

In [134]:
pd.date_range(start = '1991-04-12', end = '2020-12-31', freq = pd.DateOffset(years = 1))

DatetimeIndex(['1991-04-12', '1992-04-12', '1993-04-12', '1994-04-12',
               '1995-04-12', '1996-04-12', '1997-04-12', '1998-04-12',
               '1999-04-12', '2000-04-12', '2001-04-12', '2002-04-12',
               '2003-04-12', '2004-04-12', '2005-04-12', '2006-04-12',
               '2007-04-12', '2008-04-12', '2009-04-12', '2010-04-12',
               '2011-04-12', '2012-04-12', '2013-04-12', '2014-04-12',
               '2015-04-12', '2016-04-12', '2017-04-12', '2018-04-12',
               '2019-04-12', '2020-04-12'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [136]:
## Get the birthday stock price every year
birthdays = pd.date_range(start = '1991-04-12', end = '2020-12-31', freq = pd.DateOffset(years = 1))
birthday_stocks = stocks.index.isin(birthdays)
stocks[birthday_stocks] # This is a copy of the original
sotcks.loc[birthday_stocks] # This is referencing to the original data

,High,Index,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-04-12,30.490000,67,30.209999,30.250000,30.320000,37068800.0,23.570944
2011-04-12,25.850000,321,25.549999,25.830000,25.639999,36920400.0,20.372824
2012-04-12,31.040001,573,30.420000,30.480000,30.980000,38304000.0,25.286713
2013-04-12,29.020000,823,28.660000,28.850000,28.790001,62886300.0,24.204462
2016-04-12,54.779999,1578,53.759998,54.369999,54.650002,24944300.0,49.901531
2017-04-12,65.510002,1831,65.110001,65.419998,65.230003,17108500.0,61.128742
2018-04-12,94.160004,2082,92.430000,92.430000,93.580002,26758900.0,89.532791
2019-04-12,120.980003,2334,120.370003,120.639999,120.949997,19745100.0,117.672302

## Timestamp Object Attributes and methods

In [137]:
stocks = data.DataReader(name='MSFT', data_source='yahoo', start = '2010-01-01', end = '2020-12-31')
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.948721
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.956451
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.809435

In [138]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22',
               '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [140]:
someday = stocks.index[500]
someday

Timestamp('2011-12-27 00:00:00')

In [141]:
someday.day
someday.month
someday.week
someday.is_month_end

False

In [143]:
someday.month_name()
someday.day_name()

'Tuesday'

In [144]:
stocks.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday'],
      dtype='object', name='Date', length=2769)

In [145]:
stocks.insert(0,'Day of week', stocks.index.day_name())

In [146]:
stocks.head(3)

,Day of week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-01-04,Monday,31.10,30.590000,30.620001,30.950001,38409100.0,23.948721
2010-01-05,Tuesday,31.10,30.639999,30.850000,30.959999,49749600.0,23.956451
2010-01-06,Wednesday,31.08,30.520000,30.879999,30.770000,58182400.0,23.809435

## The pd.DateOffset Object

In [147]:
stocks = data.DataReader(name='MSFT', data_source='yahoo', start = '2010-01-01', end = '2020-12-31')
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.948715
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.956450
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.809443

In [148]:
stocks.index + 5 # Ambiguaty

TypeError: Addition/subtraction of integers and integer-arrays with DatetimeArray is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`

In [150]:
stocks.index + pd.DateOffset(days = 5) # Add 5 days to every dateIndex

DatetimeIndex(['2010-01-09', '2010-01-10', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-16', '2010-01-17', '2010-01-18',
               '2010-01-19', '2010-01-20',
               ...
               '2020-12-22', '2020-12-23', '2020-12-26', '2020-12-27',
               '2020-12-28', '2020-12-29', '2021-01-02', '2021-01-03',
               '2021-01-04', '2021-01-05'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [153]:
stocks.index - pd.DateOffset(weeks = 2)
stocks.index - pd.DateOffset(months = 2)
stocks.index - pd.DateOffset(years = 1)
stocks.index + pd.DateOffset(years = 1, months = 3, days = 10, hours = 6, minutes = 2)

DatetimeIndex(['2011-04-14 06:02:00', '2011-04-15 06:02:00',
               '2011-04-16 06:02:00', '2011-04-17 06:02:00',
               '2011-04-18 06:02:00', '2011-04-21 06:02:00',
               '2011-04-22 06:02:00', '2011-04-23 06:02:00',
               '2011-04-24 06:02:00', '2011-04-25 06:02:00',
               ...
               '2022-03-27 06:02:00', '2022-03-28 06:02:00',
               '2022-03-31 06:02:00', '2022-04-01 06:02:00',
               '2022-04-02 06:02:00', '2022-04-03 06:02:00',
               '2022-04-07 06:02:00', '2022-04-08 06:02:00',
               '2022-04-09 06:02:00', '2022-04-10 06:02:00'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

## Timeseries Offsets

In [4]:
stocks = data.DataReader(name='MSFT', data_source='yahoo', start = '2010-01-01', end = '2020-12-31')
stocks.head(3)

             High        Low       Open      Close      Volume  Adj Close
Date
2010-01-04  31.10  30.590000  30.620001  30.950001  38409100.0  23.948715
2010-01-05  31.10  30.639999  30.850000  30.959999  49749600.0  23.956450
2010-01-06  31.08  30.520000  30.879999  30.770000  58182400.0  23.809437

In [160]:
# how to run the date to end of month
# MonthEnd is a class!
stocks.index + pd.tseries.offsets.MonthEnd()

"""
Issue: If you have a date time that corresponds to the actual end of the month, 
        Pandas does not consider it as making threshold.
       So the end of the month for a date of Dec 31 is not Dec 31 because it's already passed over that point. 
       So the next month for the date of Dec 31 is going to be Jan first.
"""

stocks.index + pd.tseries.offsets.MonthBegin()
stocks.index - pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [157]:
stocks.tail(3) # 2020-12-31	 should be 2020-12-31 not 2021-01-31

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-29,227.179993,223.580002,226.309998,224.149994,17403200.0,222.693390
2020-12-30,225.630005,221.470001,225.229996,221.679993,20272300.0,220.239456
2020-12-31,223.000000,219.679993,221.699997,222.419998,20942100.0,220.974640

In [158]:
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [159]:
stocks.tail(3)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-29,227.179993,223.580002,226.309998,224.149994,17403200.0,222.693390
2020-12-30,225.630005,221.470001,225.229996,221.679993,20272300.0,220.239456
2020-12-31,223.000000,219.679993,221.699997,222.419998,20942100.0,220.974640

In [5]:
from pandas.tseries import offsets

In [7]:
stocks.index + offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [8]:
# Business month end!
stocks.index + offsets.BMonthEnd()

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-01-29'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

In [10]:
stocks.index + offsets.YearEnd() # Still the end of the year will have issue....

DatetimeIndex(['2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31', '2010-12-31', '2010-12-31',
               '2010-12-31', '2010-12-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2021-12-31'],
              dtype='datetime64[ns]', name='Date', length=2769, freq=None)

## The Timedelta Object

In [14]:
time_a = pd.Timestamp('2020-03-31 04:35:16PM')
time_b = pd.Timestamp('2020-03-20 02:15:49AM')

time_a - time_b

Timedelta('11 days 14:19:27')

In [17]:
time_a + pd.Timedelta(days = 3)
time_a + pd.Timedelta(days = 3, hours = 12, minutes = 20)
time_a + pd.Timedelta(weeks = 8, days = 3, hours = 12, minutes = 20, seconds = 13)

Timestamp('2020-05-30 04:55:29')

In [20]:
pd.Timedelta('5 minutes')
pd.Timedelta('6 hours 5 minutes')
pd.Timedelta('14 days 6 hours 5 minutes 36 seconds')

Timedelta('14 days 06:05:36')

## Timedeltas in Dataset

In [24]:
shipping = pd.read_csv('pandas/ecommerce.csv', index_col = 'ID', parse_dates=['order_date','delivery_date'])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [26]:
shipping['Delivery Time'] = shipping['delivery_date'] - shipping['order_date']

In [27]:
shipping.head(3)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [30]:
shipping['Twice As Long'] = shipping['delivery_date'] + shipping['Delivery Time']

In [31]:
shipping.head(3)

   order_date delivery_date Delivery Time Twice As Long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12

In [33]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice As Long     datetime64[ns]
dtype: object

In [37]:
mask = shipping['Delivery Time'] > '365 days'
shipping[mask].head(3)

   order_date delivery_date Delivery Time Twice As Long
ID
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12
5  1992-07-21    1997-11-20     1948 days    2003-03-22

In [38]:
shipping['Delivery Time'].min()

Timedelta('8 days 00:00:00')